{{#if resume.projects.length}}
<section>
	<h2>Projects</h2>
	{{#each resume.projects}}
    {{> section-item title=name website=website subtitle=position startDate=startDate endDate=endDate text=summary list=highlights keywords=keywords}}
	{{/each}}
</section>
{{/if}}
